@import "tailwindcss";

:root {
  --background: #F9F6F4;
  --foreground: #303030;
  --font-figtree: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-figtree: var(--font-figtree);
  --color-dark-purple: #5349DB;
  --color-light-purple: #767AF9;
  --color-green: #289F67;
  --color-yellow: #FFC633;
  --color-red: #E35244;
  --color-light-gray: #E4E4E4;
  --color-button-border: #F1F1F1;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree);
}
